* {
    padding: 0;
    margin: 0;
    color: #333;
    font-size: 14px;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body,
html,
#root,
.app {
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;

    header {
        width: 100%;
        height: 46px;
        background: #f4f4f4;
        display: flex;
        align-items: center;

        span {
            width: 15%;
            font-size: 28px;
            color: blue;
            text-align: center;
        }

        p {
            flex: 1;
            text-align: center;
            font-weight: 600;
        }
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;

        .main-top {
            width: 100%;
            height: 40px;
            background: rgb(68, 221, 175);
            display: flex;
            align-items: center;

            a {
                flex: 1;
                text-align: center;
                color: #000;
            }

            .active {
                color: red;
            }
        }

        .maintop {
            width: 100%;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;

            p{
                padding: 4px 0;
                border: 1px solid red;
                border-radius: 3px;
            }

            a {
                padding: 5px 12px;
                color: red;
            }

            .active{
                background: red;
                color: #fff;
            }
        }

        .ment {
            flex: 1;
            display: flex;
            overflow: hidden;

            .sonter{
                flex: 1;
                overflow-y: auto;

                dl{
                    display: flex;
                    padding: 10px;
                    
                    dt{
                        width: 110px;
                        height: 60px;
                        border-radius: 5px;
                        overflow: hidden;
                        
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    dd{
                        padding-left: 10px;


                        p{
                            padding: 10px 0;

                            span {
                                margin-right: 10px;
                                font-size: 12px;
                            }
                        }
                    }
                }

                .actvie{
                    background: pink;
                }
            }

            .sonte{
                flex: 1;
                overflow-y: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                dl{
                    width: 49%;
                    padding: 10px;
                    
                    dt{
                        width: 100%;
                        height: 87px;
                        border-radius: 5px;
                        overflow: hidden;
                        
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    dd{
                        padding-left: 10px;


                        p{
                            padding: 10px 0;

                            span {
                                margin-right: 10px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        .menterd{
            width: 100%;
            height: 100%;
            background: #eee;

            div{
                width: 100%;
                background: #fff;
                margin-top: 20px;

                p{
                    padding: 10px 12px;
                }

                button{
                    width: 90%;
                    height: 35px;
                    margin-left: 20px;
                    background: red;
                    color: #fff;
                    border: 0;
                }
            }
        }

        .cread{
            width: 100%;
            display: flex;
            flex-direction: column;

            input{
                margin: 20px 0;
                height: 35px;
                border: 1px solid #ccc;
            }

            button{
                height: 35px;
                background: red;
                color: #fff;
                border: 0;
            }
        }
    }


    footer {
        width: 100%;
        height: 46px;
        display: flex;
        align-items: center;
        background: #f4f4f4;

        a {
            flex: 1;
            text-align: center;
        }

        .active {
            color: red;
        }
    }
}